@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>
<body>
    <div class="container">
       
        <p class="text-danger text-center">You do not have access to this resource.</p>
        
    </div>
</body>
</html>
