@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container justify-content-center ">
    <div class="text-center">
      
        <p class="mt-4">
            Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
        </p>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary mt-3">Trở lại đăng nhập</a>
    </div>
</div>
