@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>  
    <style>
        .container {
            max-width: 600px;
            margin-top: 50px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-floating input {
            border-radius: 0.375rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 class="text-center mb-4">@ViewData["Title"]</h3>
        <div class="row">
            <div class="col-md-12">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h5>Tạo tài khoản mới</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger" id="exitsEmail"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" placeholder="John Doe" />
                        <label asp-for="Input.Name">Tên Hiển Thị</label>
                        <span asp-validation-for="Input.Name" class="text-danger" ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="mật khẩu" type="password" />
                        <label asp-for="Input.Password">Mật Khẩu</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="nhập lại mật khẩu" type="password" />
                        <label asp-for="Input.ConfirmPassword">Xác Nhận Mật Khẩu</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng Ký</button>
                </form>
            </div>
        </div>
    </div>


    <div class="mt-3">
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Trở lại</a>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

        <script>
            $(document).ready(function () {
                $("#Input_Email").on('blur', function () {
                    var email = $(this).val();

                    if (email) {
                        $.ajax({
                            url: '/api/account/checkemail',
                            type: 'GET',
                            data: { email: email },
                            success: function (response) {
                                if (response.exists) {
                                    
                                    $("#registerSubmit").prop("disabled", true);
                                    $("#exitsEmail").text("Email này đã được đăng ký.").css("color", "red");
                                } else {
                                  
                                    $("#registerSubmit").prop("disabled", false);
                                    $("#exitsEmail").text("");
                                }
                            },
                            error: function () {
                                $("#exitsEmail").text("Lỗi khi kiểm tra email.").css("color", "red");
                            }
                        });
                    }
                });
            });
        </script>

    }
</body>
</html>
