@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận Đặt lại Mật khẩu";
}

@if (TempData["Message"] != null)
{
   var success = Request.Query["success"].ToString().ToLower() == "true";
    var statusMessageClass = success ? "text-success" : "text-danger";
    <div class="mt-4 text-center">
        <span class="@statusMessageClass">@TempData["Message"]</span>
    </div>
}
