@model IEnumerable<WebGameV1.Models.Category>


<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/assets/css/data-tables/data-tables.css" />
</head>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4>Danh  sách loại game</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> Import category</a>
        </div>
    </div>

    <table class="table table-bordered table-striped mt-3" id="tblData">
        <thead>
            <tr>
                <th>STT</th>
                <th>Loại game</th>
                <th>Ngày tạo</th>
                <th>Ngày cập nhật</th>
                <th>Hành động</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <partial name="_Notification" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/vendors/data-tables/data-tables.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDatatable();
        });

        function loadDatatable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/api/admin/categories",
                    "type": "GET",
                    "dataSrc": function (json) {
                        console.log('API Response:', json);
                        return json.data;
                    }
                },

                "columns": [

                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1; 
                        },
                        "width": "5%"
                    },
                    {
                        "data": "categoryName", "render": function (data, type, row) {
                            return `<a href="/Admin/Category/Detail?id=${row.categoryID}" class="text-decoration-none">${data}</a>`;
                        },
                        "width": "15%"
                    },
                    { "data": "createDate", "width": "15%" },
                    { "data": "updateDate", "width": "15%" },
                    {
                        "data": "categoryID",
                        "render": function (data, type, row) {

                            let isLocked = row.lockoutEnd !== null && new Date(row.lockoutEnd) > new Date();

                            return `
                                        <div>
                                             <a href="/Admin/Category/Upsert?id=${data}" class="btn btn-warning btn-sm " >
                                             <i class="fas fa-edit"></i> Edit
                                             </a>

                                           
                                        </div>`;
                        },
                        "width": "10%"
                    }
                ]
            });
        }



     

       

    </script>
}
