<section class="bg-100 dark__bg-1100 ">
    <div class="container-small">
        <div class="row justify-content-between gy-4">
            <div class="col-12 col-lg-4">
                <div class="d-flex align-items-center mb-3">
                    <img src="~/images/logo/icon.png" alt="anhạnh-shop" width="27"></img>
                    <p class="logo-text ms-2">AnhPark Shop</p>
                </div>
                <p class="text-700 mb-1 fw-semi-bold lh-sm fs--1">
                    Welcome to AnhPark Shop, your go-to store for premium game accounts and in-game items. Whether you're into the latest online games, classic MMORPGs, or competitive FPS titles, we've got what you need. Explore our wide selection of accounts, gear up with exclusive equipment, and enjoy seamless transactions. Stay connected through our social media for the latest deals and game updates. Need help? Our support team is available 24/7. Happy gaming!
                </p>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">About AnhPark</h5>
                <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Careers</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Affiliate Program</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Privacy Policy</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Terms & Conditions</a></div>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">Stay Connected</h5>
                <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">News & Blogs</a><a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span class="fab fa-facebook-square text-primary me-2 fs-0"></span><span class="text-800">Facebook</span></a><a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span class="fab fa-twitter-square text-info me-2 fs-0"></span><span class="text-800">Twitter</span></a></div>
            </div>
            <div class="col-6 col-md-auto">
                <h5 class="fw-bolder mb-3">Customer Support</h5>
                <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Help Desk</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">24/7 Support</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Community of Gamers</a></div>
            </div>
          
        </div>
    </div><!-- end of .container-->
</section>
